.productos-container-main{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 42rem;
    align-items: center;
    display: grid;
    grid-template-areas: "productos-main-carrusel productos-main-card1" 
}
.productos-main-carrusel{
    grid-area: productos-main-carrusel;
}
.productos-main-card1{
    grid-area: productos-main-card1;
}
.productos-carrusel img{
    height: 410px;
}


.productos-main-card{
    background-color: white;
    padding: 3rem;
    width: 528px;
    height: 500px;
    border-radius: 1rem;
}

.productos-main-card1 p{
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
.productos-main-card1 h2{
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
}
.productos-main-card1 li{
    margin-left: 2.2rem;
    font-size: 1.7rem;
}

@media (max-width: 1170px){
    
    .productos-main-card{
        width: 352px;
        height: 367px;
        padding: 2rem;
    }
    .productos-main-card1 p{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .productos-main-card1 h2{
        font-size: 1.5rem;
        
    }
    .productos-main-card1 li{
        margin-left: 10px;
        font-size: 1.2rem;
    }
    .productos-carrusel img{
    height: 300px;
}
}

@media (max-width: 820px){
    .productos-container-main{
    height: 840px;
    gap: 0rem;
    grid-template-areas: 
    "productos-main-card1" 
    "productos-main-carrusel" 
    }
}